{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<h2>О нашем проекте</h2>
<p>Это учебное Flask приложение, созданное для демонстрации возможностей микрофреймворка Flask.</p>

<div class="about-info">
    <h3>Технологии, использованные в проекте:</h3>
    <ul>
        <li>Flask - микрофреймворк для веб-приложений</li>
        <li>SQLite - база данных</li>
        <li>HTML/CSS/JavaScript - фронтенд</li>
        <li>Jinja2 - шаблонизатор</li>
    </ul>
</div>
{% endblock %}